.spanned-book-title{
    font-size: 30px;
    font-family: 'Roboto';
    color: #ffe619;
}

.carousel-item{
    width: 900px;
    height: 500px;
    margin: auto;
}

.bg-image{
    background: linear-gradient(to right, rgb(0 0 0 / .8),rgb(0 0 0 / 0));
}